<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUB4MtauEjYtqzQpBd-SkCp8AzwJCctAI</string>
	<key>GCM_SENDER_ID</key>
	<string>1052477191730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.instagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-1-6c05d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-1-6c05d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052477191730:ios:6607f3e9da84113f7f6e2b</string>
</dict>
</plist>